node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
out/
public/build/
public/dist/

stats.json

.env
.env.*.local

*.tsbuildinfo

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

logs/
*.log
log/
