@()(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)
@import helper._
@import views.html.components.overlay

@defining(play.filters.csrf.CSRF.getToken) { csrfOpt =>

  @csrfOpt.map { t =>
    <meta name="csrf-token" content="@t.value">
  }

  @views.html.components.navBar()

  <div id="app" data-scene="PlayingField"></div>

  @overlay(
    id = "overlay",
    title = "About the Game",
    messageHtml = Html(""),
    bgImagePath = "images/frames/overlay.png",
    safeTop = "16%", safeRight = "8%", safeBottom = "16%", safeLeft = "8%"
  )

  <button
    type="button"
    data-open-overlay
    hidden
    aria-hidden="true"
    tabindex="-1"
  >
    Open Overlay
  </button>

  <script type="module" src='@routes.Assets.versioned("javascripts/app.js")'></script>

  <meta name="viewport"
        content="width=device-width, initial-scale=1, viewport-fit=cover, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <div id="rotate-notice" class="rotate-notice" style="display:none;">
    Please rotate screen.
  </div>
}
