@()(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)
@import helper._
@import views.html.components.overlay
@defining(play.filters.csrf.CSRF.getToken) { csrfOpt =>

  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/attackerDefendersScene.css")'>
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sceneComponents/gameCard.css")'>
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sceneComponents/fieldCards.css")'>
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sceneComponents/gameAlert.css")'>
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sceneComponents/attackerBar.css")'>
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/base/gameButton.css")'>

  @csrfOpt.map { t =>
    <meta name="csrf-token" content="@t.value">
  }

  @views.html.components.navBar()

  <!-- Root for Vue app -->
  <!-- data-scene is what your JS bootstrap can use to select the initial route/view -->
  <div id="app" data-scene="AttackerDefenderCards">
    @overlay(
      id = "overlay",
      title = "About the Game",
      messageHtml = Html(""),
      bgImagePath = "images/frames/overlay.png",
      safeTop = "16%", safeRight = "8%", safeBottom = "16%", safeLeft = "8%"
    )
  </div>

  <!-- Global app entry (mounts Vue and renders AttackerDefendersView.vue inside #app) -->
  <script type="module" src='@routes.Assets.versioned("javascripts/app.js")'></script>
}
