@()(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)
@import helper._

<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/loadGame.css")'>
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/base/gameButton.css")'>
@views.html.components.navBar()
<div class="scene scene--loadgame">
  <h1 class="header">Select a Saved Game</h1>

  <div class="container">
  </div>

  <div class="buttons">
    <a class="gbtn btn btn-warning" href='@routes.UiController.mainMenu()'>Back</a>
  </div>
</div>
