@()(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)

<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/loginScene.css")'>

@main("Login") {
  <div id="app-root" class="login-bg">
    <div class="overlay visible">
      <div class="overlay-frame login-overlay-frame">
        <div class="overlay-scroll">
          <form
            class="container login-form"
            action='@routes.UiController.switchScene("MainMenu")'
            method="GET"
          >
            <div class="input-container">
              <div class="input-content">
                <div class="input-dist">
                  <div class="input-type">
                    <input
                      class="input-is"
                      type="text"
                      name="username"
                      placeholder="User"
                      required
                      autocomplete="username"
                    />
                    <input
                      class="input-is"
                      type="password"
                      name="password"
                      placeholder="Password"
                      required
                      autocomplete="current-password"
                    />
                  </div>
                </div>
              </div>
            </div>

            <button class="gbtn" type="submit">
              Log in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
}
