@()(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)
@import helper._

<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/createPlayerMulti.css")'>

<div class="scene scene--createplayermulti">
  <img class="logo-image"
         src='@routes.Assets.versioned("images/logo/logo0.5k.png")'
         alt="Soccer Card Clash Logo" />
  <h class ="header">Create Players</h>
  <h2 class = "playername">Enter player names</h2>
  <input class="inputplayer" type="text" id="p1name" name="player1"><br><br>
  <input class="inputplayer" type="text" id="p2name" name="player2"><br><br>

  <div class="Button">
    <a class="gbtn" href='@routes.UiController.mainMenu()'> start </a>
    <a class="gbtn" href='@routes.UiController.mainMenu()'> back </a>
  </div>
</div>

<!--<div class="scene scene--loadgame">
  <h2>Load Game Scene</h2>
</div>>
