@()(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)
@import helper._

<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/singleplayer.css")'>

<div class="scene scene--singleplayer is-active" aria-hidden="false">
  <img class="logo-image"
       src='@routes.Assets.versioned("images/logo/logo0.5k.png")'
       alt="Soccer Card Clash Logo" />
  <h1 class="header">Create Players</h1>
  <h2 class="playername">Enter Player's Name</h2>

  <input class="inputplayer" type="text" id="p1name" name="humanPlayer" placeholder="Your name">

  <div class="buttons">
    <a class="gbtn" id="btn-sp-start" href='@routes.UiController.ai()'>Start</a>
    <a class="gbtn" href='@routes.UiController.mainMenu()'>Back</a>
  </div>
</div>
