@()(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)
@import helper._

<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/singleplayer.css")'>

<div class="scene scene--singleplayer is-active" aria-hidden="false">
  <img class="logo-image"
       src='@routes.Assets.versioned("images/logo/logo0.5k.png")'
       alt="Soccer Card Clash Logo" />

 <div class="titles">
      <h1 class="title">Create Players</h1>
      <p class="subtitle">Enter Player Names</p>
    </div>

  <input class="inputplayer" type="text" id="p1name" name="player1" placeholder="Player 1" />

  <div class="buttons">
    <a class="gbtn btn btn-start" href='@routes.UiController.ai()'>Start</a>
    <a class="gbtn btn btn-back" href='@routes.UiController.mainMenu()'>Back</a>
  </div>
</div>
