@(title: String)(content: Html)(implicit req: play.api.mvc.RequestHeader)
@import helper._   // brings helper.CSRF into scope

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- CSRF token for JS fetch() -->
    <meta name="csrf-token" content="@CSRF.getToken.value">

    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'>
  </head>
  <body>
    <div class="container">
      <div class="logo-container">
        <img src='@routes.Assets.versioned("images/logo/logo0.5k.png")' alt="Game Logo" class="logo"/>
      </div>
      <div class="content-container">
        @content
      </div>
    </div>
  </body>
</html>
