@(title: String)(content: Html)(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)
@import helper._

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'>
  </head>
  <body>
    <div class="container">
      <div class="content-container">
        @content
      </div>
    </div>
  </body>
</html>
