@(title: String)(content: Html)(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)
@import helper._

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Base styles -->
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/base/logo.css")'>
    <!-- <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/base/overlay.css")'> -->

    <!-- Scene styles -->
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/mainMenu.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/multiplayer.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/singleplayer.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/ai.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/playingField.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/attackerHandScene.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/scenes/attackerDefendersScene.css")'>

    <!-- Scene components -->
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sceneComponents/gameCard.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sceneComponents/playersBar.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sceneComponents/fieldCards.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sceneComponents/handCards.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sceneComponents/gameAlert.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sceneComponents/attackerBar.css")'>
  </head>

  <body>
    <div class="container">
      <div class="content-container">
        @content
      </div>
    </div>
  </body>
</html>
